build/
dist/
__pycache__/
*.pyc
*.egg-info/
doc_doc/
doc_build/
.venv/
.pixi/
.ruff_cache/
.pytest_cache/
.mypy_cache/
.coverage
coverage.xml
htmlcov/
.tox/
.nox/
pygv/_version.py
doc_source/auto_examples/**
pygv/Untitled
